.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
inst/logos
data-raw
.*.swp
*.bak
*.tmp
*.temp
#doc
Meta
doc
plots
inst/tutorials/vachette/images/part_1/*
inst/tutorials/vachette/images/part_2/*
inst/tutorials/vachette/images/part_3/*
inst/tutorials/vachette/images/part_4/*
